body
{
    background-image: url(../imgs/wallpaper.png);
}

div [alt="logo"], #logo_txt, .container{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.container-grid{
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  grid-template-rows: 1fr auto;
}
.left_menu{
  transition: 0.5s;
  position: relative;
  height: auto;
}

.ul_movel{
  position: absolute;
  list-style: none;
  padding: 0px 15px 0px 15px;
  height: auto;
  margin-top:16px; 
  /* margin-bottom:200%;   */
  background-color: #D4BA0E;
  border-radius: 0px 20px 20px 0px;
}

.left_menu ul li{
  padding-top: 50px;
  padding-bottom:50px; 
}

.is-hidden{
  transition: 0.5s;
  opacity: 0;

}
main{
  position: relative;
  border-radius: 25%;
}
main > p{
  font-size: 1em;
  color: #f0e266;
}
